<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Store Application</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://kit.fontawesome.com/3532fa6739.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <style>
    body{
      height: 100vh;
      background: linear-gradient(
              to right,
              white 0%,
              white 50%,
              #FFAF3FD9 0%,
              #FFAF3FD9 50%
      );
    }
  </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="row">
  <div class="col-xl-6" style="padding-top: 5%">
    <a  th:href="@{/inventory}" class="btn" >
      <i class="fa-solid fa-circle-arrow-left fa-2xl"></i>    </a>

    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10">
        <table class="table table-bordered table-striped table-hover table-fixed" style="width: 650px; height: 450px;">
          <thead class="thead-dark">
          <tr>
            <th>ชื่อหน่วยสินค้า</th>
            <th>แก้ไขประเภทสินค้า</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:if="${categories != null}">
          <tr th:each="category:${categories}">
            <td th:text="${category.categoryName}"></td>
            <td>
              <!-- Edit Button-->
<!--              go to categories-tem/update-->
              <a class="btn btn-info" th:href="@{/categories/update/{categoryId}(categoryId=${category.id})}">แก้ไข</a>
            </td>
          </tr>
          </th:block>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-xl-6" >
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10" style="padding-top: 20%">
        <div class="card container" >
          <div class="row" style="padding-top: 10px">
            <div class="col-xl-4"></div>
            <div class="col-xl-6"><h4>เพิ่มประเภทสินค้า</h4></div>
          </div>

          <form action="#" th:action="@{/categories/add}" method="POST" onsubmit="return confirmSave();">
            <div class="mb-3">
              <label for="inputName">ชื่อประเภทสินค้า</label>
              <input id="inputName" type="input" class="form-control"
                     name="categoryName" required>
              <div id="error-msg" class="alert alert-danger"
                   th:if="${nameError}">
                <span th:text="${nameError}"></span>
              </div>
            </div>
            <div class="mb-3">
            </div>
            <div class="row" style="padding-bottom: 10px">
              <div class="col-xl-5"></div>
              <div class="col-xl-6">
                <button id="submit-button" type="submit" class="btn btn-primary">บันทึก</button>

              </div>
            </div>
          </form>

        </div>

      </div>
      <div class="col-xl-1">
      </div>

    </div>
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10" style="padding-top: 10%;">
      </div>
    </div>

  </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
<script>
  function confirmSave() {
    return confirm("คุณแน่ใจหรือไม่ที่ต้องการบันทึกข้อมูล?");
  }
</script>
</body>
</html>