<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Store Application</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://kit.fontawesome.com/3532fa6739.js" crossorigin="anonymous"></script>
  <!-- นำเข้าไลบรารี Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- นำเข้าไลบรารี jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- นำเข้าไลบรารี Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body{
      height: 100vh;
      background: linear-gradient(
              to right,
              white 0%,
              white 50%,
              #FFAF3FD9 0%,
              #FFAF3FD9 50%
      );
    }
  </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="row">
  <div class="col-xl-6" style="padding-top: 5%">
    <a  th:href="@{/inventory}" class="btn" >
      <i class="fa-solid fa-circle-arrow-left fa-2xl"></i>    </a>

    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10">
        <table id="myCategoryTable" class="table table-hover table-fixed table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>ชื่อหน่วยสินค้า</th>
            <th>แก้ไขประเภทสินค้า</th>
            <th>ลบประเภทสินค้า</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="category:${categories}">
            <td th:text="${category.name}"></td>
            <td>
              <!-- Edit Button-->
              <a class="btn btn-primary" th:href="@{'/categories/update/' + ${category.id}}">แก้ไข</a>
            </td>
            <td>
              <!-- Delete Button-->
              <a class="btn btn-danger" th:href="@{'/categories/delete/' + ${category.id}}">ลบ</a>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-xl-6" >
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10" style="padding-top: 10%">
        <div class="card container" >
          <div class="row" style="padding-top: 10px">
            <div class="col-xl-4"></div>
            <div class="col-xl-6"><h1 class="">เพิ่มประเภทสินค้า</h1></div>
          </div>

          <form action="#" th:action="@{/categories/add}" method="POST">
            <div class="mb-3">
              <label for="inputName">ชื่อประเภทสินค้า</label>
              <input id="inputName" type="input" class="form-control"
                     name="name" required>
              <div id="error-msg" class="alert alert-danger"
                   th:if="${nameError}">
                <span th:text="${nameError}"></span>
              </div>
            </div>
            <div class="mb-3">
            </div>
            <div class="row" style="padding-bottom: 10px">
              <div class="col-xl-5"></div>
              <div class="col-xl-6">
                <button id="submit-button" type="submit" class="btn btn-primary">บันทึก</button>

              </div>
            </div>
          </form>

        </div>

      </div>
      <div class="col-xl-1"></div>

    </div>

  </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
<script src="/static/js/delete-modal.js"></script>

</body>
</html>