<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Store Web Application</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container w-50 p-3">
  <h1 class="display-6">Cart</h1>


  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr style="text-align: center; vertical-align: top; " class="table-secondary">
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cart ne null}" th:each="item : ${cart.items}" >
      <td th:text="${item.product.name}"></td>
      <td style="text-align: right" th:text="${#numbers.formatDecimal(item.product.price, 0, 'COMMA', 2, 'POINT')}"></td>
      <td style="text-align: right" th:text="${item.quantity}"></td>
      <td style="text-align: right" th:text="${#numbers.formatDecimal(item.getSubtotal(), 0, 'COMMA', 2, 'POINT')}"></td>
    </tr>
    </tbody>
  </table>


  <p th:if="${cart ne null}" style="text-align: right">Total: <span th:text="${#numbers.formatDecimal(cart.getTotal(), 1, 'COMMA', 2, 'POINT')}"></span> Bahts</p>


  <form action="#" th:action="@{/orders}" method="POST">
    <button id="submit-button" type="submit" class="btn btn-primary">Submit Order</button>
  </form>

</div>
</body>
</html>
